//Colors variables
.text-background {
  color: #f3f3f7 !important;
}

.bg-background {
  background: #f3f3f7 !important;
}

.text-selected {
  color: #696cff !important;
}

.bg-selected {
  background: #696cff !important;
}